%h1
  All Articles

%ul#articles
  - @articles.each do |article|
    %li
      = link_to article.title, article_path(article)
= link_to "Create a new article", new_article_path, class: "new_article"

%h3
  - @article_months.keys.each do |month|
    = link_to month, articles_month_path(month)

#sidebar
  %div
    - @pages.each do |page|
      = link_to page.title, page_path(page)