@import url('https://fonts.googleapis.com/css?family=Slabo+27px|Overlock:700');
$primary-color: #DADADA;
$nav-white: #f8f8ff;

body {
  background-color: $primary-color;
  font-family: 'Slabo 27px', serif;
}

ul {
  list-style: none;
  li {
    text-decoration: none;
  }
}
.ui.secondary.pointing.menu {
  background-color: #000;
  color: #fff;
  height: 3.5em;
  .header.item {
    color: #fff !important;
  }
  .right.menu a{
    color: #fff !important;
  }
}
.column {
  max-width: 28.125em;
}

.header.item {
  width: 25%;
  a {
    color: $nav-white;
    font-family: 'Overlock', cursive;
    font-size: 1.5em;
  }
}
.nav.center {
  display: flex;
  width: 50%;
  .center-nav-links{
    width: 50%;
    margin: auto;
    a {
      color: $nav-white;
      width: 50%;
      padding: 1em;
      transition: box-shadow 0.5s;
    }
  }
}

.nav.right {
  display: flex;
  width: 25%;
  a {
    color: $nav-white;
    width: 50%;
    padding: 1em;
  }
  .log {
    padding-left: 4em;
    padding: 1em 4em;
  }
}

.underline {
  box-shadow: inset 0 0px 0 black, inset 0 -1px 0 white;
}